<form action="/user/create-session" method="post">
   
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <input type="submit" placeholder="submit">


</form>